@page

@model IndexModel
@{
    ViewData["Title"] = "Product";
}
<h2>Index</h2>

<!--render sections-->

@section headers{


    @if (@HttpContext.Session.GetString("username") != null)
    {
        <p>xin chao <a asp-page="/users/details" asp-route-id="@HttpContext.Session.GetString("userid")">@HttpContext.Session.GetString("username")</a></p>

        <form method="post">
            <input asp-page="/Account/Login/Dangnhap" asp-page-handler="logout" type="submit" value="Log out" />

        </form>



    }
    else    //chua dang nhap
    {
        <a asp-page="/Account/Login/DangNhap">Dang nhap</a>
        <a asp-page="/Account/Register/DangKy">Dang ky </a>
    }

    <!--Search -->
    <form method="get">

        <input type="text" asp-for="CurrentFilterProduct" />
        <input asp-page="/Products/index" type="submit" value="Search" class="btn btn-default" />
    </form>
}


<style>

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 200px;
        margin: auto;
        text-align: center;
        margin-top: 15px;
        font-family: arial;
        float: left;
        margin-left: 15px;
    }

    .img_frame {
        width: 200px;
        height: 250px;
        float: left;
        overflow: hidden;
        position: relative;
    }

    .blank_img {
        width: 200px;
        height: 250px;
        background-color: black;
        float: left;
    }

    .price {
        color: grey;
        font-size: 22px;
    }

    .img_frame img {
        transition: .3s ease-in;
    }

    .img_frame:hover img {
        transform: scale(1.3);
    }

    .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

        .card button:hover {
            opacity: 0.7;
        }

    .container1 {
        float: initial;
    }
</style>


<form method="get">
    <p>
        <select asp-for="typename" asp-items="Model.ProductIndexVM.Genres">
            <option value="">All</option>
        </select>

        Find by name: <input type="text" asp-for="CurrentFilterProduct" />


       

        <input type="submit" />

        <a asp-page="./index" asp-route-sort="giam">Price Decrease</a>
    </p>
</form>




<form method="post">

    @foreach (var Product in Model.ProductIndexVM.Products)
    {

        <div class="card">
            <div class="img_frame">

                <img src="~/Image/chuot.jpg" alt="Denim Jeans" style="width:200px;height:250px">



            </div>

            <a asp-page="./Details" asp-route-id="@Product.ProductId">
                <p> @Product.ProductName</p>
            </a>
            <p class="price">@Product.ProductPrice</p>
            <p>
                <button>
                    <a asp-page="/Basket/View" asp-page-handler="buynow"
                       asp-route-id=@Product.ProductId >Buy Now</a>
                </button>
            </p>
        </div>

    }


    <!--
    SIMPLE CARD PRODUCT

                <td>
                    <button type="submit" asp-page-handler="Delete" asp-route-id="Product.ProductId">Delete</button>
                    <a asp-page="/Movies/Edit" asp-route-id="Product.ProductId">Edit</a>
                </td>
     -->



</form>
<br />
@{
    var preDisabled = !Model.ProductIndexVM.Products.HasPrevious ? "disabled" : "";
    var nextDisabled = !Model.ProductIndexVM.Products.HasNext ? "disabled" : "";
}
<div class="container1">
    <a asp-page="Index"
       asp-route-pageIndex="@(Model.ProductIndexVM.Products.PageIndex - 1)"
       class="btn btn-default @preDisabled">Previous</a>

    <a asp-page="Index"
       asp-route-pageIndex="@(Model.ProductIndexVM.Products.PageIndex + 1)"
       class="btn btn-default @nextDisabled">Next</a>
</div>
